<html>
<head>
<title>Flapper News</title>


<!-- CSS -->
<link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="stylesheets/blog.css">

<!-- JS -->
<script src="libs/angular/angular.min.js"></script>
<script src="libs/angular-ui-router/release/angular-ui-router.js"></script>
<script src="javascripts/app.js"></script>

</head>

<!-- navbar -->
<div class="blog-masthead">
	<div class="container">
		<nav class="blog-nav" ng-controller="NavCtrl">
			<a class="blog-nav-item active" href="#/home">Home</a>
			<a class="blog-nav-item" href="#">New features</a>
			<a class="blog-nav-item" href="#">Press</a>
			<a class="blog-nav-item" href="#">New hires</a>
			<a class="blog-nav-item" href="#">About</a>

		</nav>
	</div>
</div>

<nav class="navbar navbar-default pull-right" ng-controller="NavCtrl">
	<ul class="nav navbar-nav">
		<li ng-show="isLoggedIn()"><a>{{ currentUser() }}</a></li>
		<li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Log Out</a></li>
		<li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
		<li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>
	</ul>
</nav>
<!--fine navbar-->

<body ng-app="flapperNews" ng-controller="MainCtrl">
<div class="container">

	<div class="blog-header">
		<h1 class="blog-title">Davide Blog</h1>
		<p class="lead blog-description">A blog built whit MEAN</p> 
	</div>

	<div class="row">
		<div class="col-sm-8 blog-main">
			<ui-view></ui-view>

		</div>
		<!-- side bar -->

		<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
			<div class="sidebar-module sidebar-module-inset">
				<h4>About</h4>
				<p>
				Etiam porta
				<em>sem malesuada magna</em>
				mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.
				</p>
			</div>
			<div class="sidebar-module">
				<h4>Archives</h4>
				<ol class="list-unstyled">
					<li>
					<a href="#">March 2014</a>
					</li>
					<li>
					<a href="#">February 2014</a>
					</li>
					<li>
					<a href="#">January 2014</a>
					</li>
					<li>
					<a href="#">December 2013</a>
					</li>
					<li>
					<a href="#">November 2013</a>
					</li>
					<li>
					<a href="#">October 2013</a>
					</li>
					<li>
					<a href="#">September 2013</a>
					</li>
					<li>
					<a href="#">August 2013</a>
					</li>
					<li>
					<a href="#">July 2013</a>
					</li>
					<li>
					<a href="#">June 2013</a>
					</li>
					<li>
					<a href="#">May 2013</a>
					</li>
					<li>
					<a href="#">April 2013</a>
					</li>
				</ol>
			</div>
			<div class="sidebar-module">
				<h4>Elsewhere</h4>
				<ol class="list-unstyled">
					<li>
					<a href="#">GitHub</a>
					</li>
					<li>
					<a href="#">Twitter</a>
					</li>
					<li>
					<a href="#">Facebook</a>
					</li>
				</ol>
			</div>

			<!-- end side bar-->

		</div>
	</div>
</div>
<script type="text/ng-template" id="/home.html">

<div ng-repeat="post in posts | orderBy:'-upvotes'">
			<span class="glyphicon glyphicon-thumbs-up"
				ng-click="incrementUpvotes(post)"></span>
			<span class="glyphicon glyphicon-thumbs-down"
				ng-click="decrementUpvotes(post)"></span>
			{{post.upvotes}}
			<span style="font-size:20px; margin-left:10px;">
				<a ng-show="post.link" href="{{post.link}}">
					{{post.title}}
				</a>
				<span ng-hide="post.link">
					{{post.title}}
				</span>
			</span>

			<span ng-show="post.author">
				posted by <a>{{post.author}}</a> |
			</span>			

			<span>
				<a href="#/posts/{{post._id}}">Comments</a>
			</span>
</div>

<div ng-hide="isLoggedIn()">
	<h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can add a post.</h3>
</div>

		<form ng-submit="addPost()"
			ng-show="isLoggedIn()"
			style="margin-top:30px;">
			<h3>Add a new post</h3>

			<div class="form-group">
				<input type="text"
				class="form-control"
				placeholder="Title"
				ng-model="title"></input>
			</div>
			<div class="form-group">
				<input type="text"
				class="form-control"
				placeholder="Link"
				ng-model="link"></input>
			</div>
			<button type="submit" class="btn btn-primary">Post</button>
		</form>

</script>

<script type="text/ng-template" id="/posts.html">
<div class="page-header">
		<h3>
			<a ng-show="post.link" href="{{post.link}}">
				{{post.title}}
			</a>
			<span ng-hide="post.link">
				{{post.title}}
			</span>
		</h3>
	</div>

	<div ng-repeat="comment in post.comments | orderBy:'-upvotes'">
		<span class="glyphicon glyphicon-thumbs-up"
			ng-click="incrementUpvotes(comment)"></span>
		<span class="glyphicon glyphicon-thumbs-down"
			ng-click="decrementUpvotes(comment)"></span>
		{{comment.upvotes}} - by {{comment.author}}
		<span style="font-size:20px; margin-left:10px;">
			{{comment.body}}
		</span>
	</div>
<div ng-hide="isLoggedIn()">
	<h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can comment.</h3>
</div>
<form ng-submit="addComment()"
			ng-show="isLoggedIn()"
		style="margin-top:30px;">
		<h3>Add a new comment</h3>

		<div class="form-group">
			<input type="text"
			class="form-control"
			placeholder="Comment"
			ng-model="body"></input>
		</div>
		<button type="submit" class="btn btn-primary">Post</button>
	</form>
</script>

<script type="text/ng-template" id="/register.html">
<div class="page-header">
		<h1>Flapper News</h1>
	</div>

	<div ng-show="error" class="alert alert-danger row">
		<span>{{ error.message }}</span>
	</div>

	<form ng-submit="register()"
		style="margin-top:30px;">
		<h3>Register</h3>

		<div class="form-group">
			<input type="text"
			class="form-control"
			placeholder="Username"
			ng-model="user.username"></input>
		</div>
		<div class="form-group">
			<input type="password"
			class="form-control"
			placeholder="Password"
			ng-model="user.password"></input>
		</div>
		<button type="submit" class="btn btn-primary">Register</button>
	</form>
</script>

<script type="text/ng-template" id="/login.html">
<div class="page-header">
		<h1>Flapper News</h1>
	</div>

	<div ng-show="error" class="alert alert-danger row">
		<span>{{ error.message }}</span>
	</div>

	<form ng-submit="logIn()"
		style="margin-top:30px;">
		<h3>Log In</h3>

		<div class="form-group">
			<input type="text"
			class="form-control"
			placeholder="Username"
			ng-model="user.username"></input>
		</div>
		<div class="form-group">
			<input type="password"
			class="form-control"
			placeholder="Password"
			ng-model="user.password"></input>
		</div>
		<button type="submit" class="btn btn-primary">Log In</button>
	</form>
</script>

<!-- footer -->
<footer class="blog-footer">
	<p>
	The acronym "MEAN" stands for "MongoDB Express.js AngularJS Node.js" and represents a group of technologies which are known to synergize well together. 
	</br>
	Blog template built for
	<a href="http://getbootstrap.com">Bootstrap</a>
	by
	<a href="https://twitter.com/mdo">@mdo</a>
	.
	</p>
	<p>
	<a href="#">Back to top</a>
	</p>
</footer>
<!-- fine footer -->

</body>
</html>

