<html>
<head>
<title>Davide's Blog</title>


<!-- CSS -->
<link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="stylesheets/dave/blog.css">

<!-- JS -->
<script src="libs/angular/angular.min.js"></script>
<script src="libs/angular-ui-router/release/angular-ui-router.js"></script>
<script src="javascripts/app.js"></script>


</head>

<!-- navbar -->
<div class="blog-masthead">
	<div class="container">
		<nav class="blog-nav" ng-controller="NavCtrl">
			<a class="blog-nav-item active" href="#/home">Home</a>
			<a class="blog-nav-item" href="#">New features</a>
			<a class="blog-nav-item" href="#">Press</a>
			<a class="blog-nav-item" href="#">New hires</a>
			<a class="blog-nav-item" href="#">About</a>

			<a class="blog-nav-item pull-right" ng-show="isLoggedIn()">{{ currentUser() }}</a>
			<a class="blog-nav-item pull-right" ng-show="isLoggedIn()" href="" ng-click="logOut()">Log Out</a>
			<a class="blog-nav-item pull-right" ng-hide="isLoggedIn()" href="/#/login">Log In</a>
			<a class="blog-nav-item pull-right" ng-hide="isLoggedIn()" href="/#/register">Register</a>

		</nav>
	</div>
</div>

<!--fine navbar-->

<body ng-app="flapperNews" ng-controller="MainCtrl">
<div class="container">

	<div class="blog-header">
		<h1 class="blog-title">Davide's Blog</h1>
		<p class="lead blog-description">A blog built whit MEAN</p> 
	</div>

	<div class="row">
		<div class="blog-main">
			<ui-view></ui-view>

		</div>

	</div>
</div>
</div>
<script type="text/ng-template" id="/home.html">

<button ng-show="isLoggedIn() && !showPost" ng-click="showPost=true" type="button" class="btn btn-primary" style="margin-bottom:30px">Add post</button> 

		<form ng-submit="addPost()"
			ng-show="showPost"
			style="margin-top:30px;">
			<h3>Add a new post</h3>

			<div class="form-group">
				<input type="text" class="form-control" placeholder="Title" ng-model="title"></input>
			</div>
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Link" ng-model="link"></input>
			</div>
			<div class="form-group">
				<textarea class="form-control" placeholder="Body" ng-model="body"></textarea>
			</div>
			<button type="submit" class="btn btn-success">Post</button>
		</form>


<div ng-repeat="post in posts | orderBy:'-upvotes'" class="blog-post">
			<span class="glyphicon glyphicon-thumbs-up"
				ng-click="incrementUpvotes(post)"></span>
			{{post.upvotes}}
			<span class="glyphicon glyphicon-thumbs-down"
				ng-click="decrementUpvotes(post)"></span>

			<h2 class="blog-post-title">
				<a ng-show="post.link" href="{{post.link}}">
					{{post.title}}
				</a>
				<span ng-hide="post.link">
					{{post.title}}
				</span>
			</h2>

			<p class="blog-post-meta">
				Submitted on {{post.date | date:'MM/dd/yyyy @ h:mma'}}
				<span ng-show="post.author">
					by <a>{{post.author}}</a>
				</span>			
			</p>
			<p ng-show="post.body">{{post.body}}</p>
			<span>
				{{post.commentsLength}}	<a href="#/posts/{{post._id}}">comments</a>
			</span>

</div>

</script>

<script type="text/ng-template" id="/posts.html">

<div class="page-header">
			<h2 class="blog-post-title">
				<a ng-show="post.link" href="{{post.link}}">
					{{post.title}}
				</a>
				<span ng-hide="post.link">
					{{post.title}}
				</span>
			</h2>

			<p class="blog-post-meta">
				Submitted on {{post.date | date:'MM/dd/yyyy @ h:mma'}}
				<span ng-show="post.author">
					by <a>{{post.author}}</a>
				</span>     
			</p>
			<p ng-show="post.body">{{post.body}}</p>

	</div>
<button ng-show="isLoggedIn()" style="margin-bottom:10px" ng-click="showComment=true" type="button" class="btn btn-primary">Add comment</button> 

<form ng-submit="addComment()" ng-show="showComment" style="margin-top:30px;">
		<h3>Add a new comment</h3>

		<div class="form-group">
			<textarea class="form-control" placeholder="Comment" ng-model="body"></textarea>
		</div>
		<button type="submit" class="btn btn-success">Post</button>
	</form>

<div class="row">
		<div class="post-comments" ng-repeat="comment in post.comments[0].children | orderBy:'-upvotes'" ng-include="'commentsRender'"/>
	</div>

</comments>

</script>

<script type="text/ng-template" id="commentsRender">
<div class="media">
	<div class="media-heading">

		Submitted on {{comment.date | date:'MM/dd/yyyy @ h:mma'}}
		<span ng-show="post.author">
			by <a>{{comment.author}}</a>		
		</span>    
	</div>

		  <div class="media-left">
            <div class="vote-wrap">
              <div class="save-post">
									<span class="glyphicon glyphicon-thumbs-up" ng-click="incrementUpvotes(comment)"></span>
									<span class="label label-info">{{comment.upvotes}}</span> 
									<span class="glyphicon glyphicon-thumbs-down" ng-click="decrementUpvotes(comment)"></span>
              </div>
            </div>
      </div>
	
		<div class="media-body">

			<p>{{comment.body}}</p>

		 	<div class="comment-meta">
					<button  ng-show="isLoggedIn()" ng-click="comment.reply=true" class="btn btn-link" type="button">reply</button>
					<div ng-show="comment.reply">
						<form ng-submit="addComment(comment)">
							<div class="form-group">
								<label for="comment">Your Comment</label>
								<textarea name="comment" class="form-control" rows="3" placeHolder="Reply" ng-model="reply"></textarea>
							</div>
							<button type="submit" class="btn btn-success">Send</button>
						</form>
					</div>
				</div>	

			<div class="post-comments" ng-repeat="comment in comment.children | orderBy:'-upvotes'" ng-include="'commentsRender'"/>
		</div>
</div>
 </script>

<script type="text/ng-template" id="/register.html">

<div ng-show="error" class="alert alert-danger row">
		<span>{{ error.message }}</span>
	</div>

	<form ng-submit="register()"
		style="margin-top:30px;">
		<h3>Register</h3>

		<div class="form-group">
			<input type="text"
			class="form-control"
			placeholder="Username"
			ng-model="user.username"></input>
		</div>
		<div class="form-group">
			<input type="password"
			class="form-control"
			placeholder="Password"
			ng-model="user.password"></input>
		</div>
		<button type="submit" class="btn btn-success">Register</button>
	</form>
</script>

<script type="text/ng-template" id="/login.html">

<div ng-show="error" class="alert alert-danger row">
		<span>{{ error.message }}</span>
	</div>

	<form ng-submit="logIn()"
		style="margin-top:30px;">
		<h3>Log In</h3>

		<div class="form-group">
			<input type="text"
			class="form-control"
			placeholder="Username"
			ng-model="user.username"></input>
		</div>
		<div class="form-group">
			<input type="password"
			class="form-control"
			placeholder="Password"
			ng-model="user.password"></input>
		</div>
		<button type="submit" class="btn btn-success">Log In</button>
	</form>
</script>

<!-- footer -->
<footer class="blog-footer">
<p>
The acronym "MEAN" stands for "MongoDB Express.js AngularJS Node.js" and represents a group of technologies which are known to synergize well together. 
</br>
Blog template built for
<a href="http://getbootstrap.com">Bootstrap</a>
by
<a href="https://twitter.com/mdo">@mdo</a>
.
</p>
<p>
<a href="#">Back to top</a>
</p>
</footer>
<!-- fine footer -->

</body>
</html>

